html {
  font-size: 37.5px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.813rem;
  background-color: #ffffff;
}

.bottom .bottom-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0.187rem;
  left: 0.613rem;
  bottom: 0.187rem;
  width: 8.693rem;
  height: 1.427rem;
}

.bottom .bottom-text .bottom-box {
  position: relative;
  width: 0.973rem;
  height: 1.507rem;
}

.bottom .bottom-text .bottom-box img {
  width: 0.973rem;
  height: 0.973rem;
}

.bottom .bottom-text .bottom-box span {
  position: absolute;
  top: 0.873rem;
  left: 0.15rem;
  width: 0.88rem;
  height: 0.347rem;
  font-size: 0.347rem;
  line-height: 0.7rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 0.64rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.387rem;
  height: 0.76rem;
  top: 0.64rem;
  left: 00.307rem;
}

.top .top-left {
  position: relative;
  width: 1.64rem;
  height: 0.76rem;
  background-color: #ffffff;
  border-radius: 0.267rem;
  border: solid 0.027rem #ff9344;
}

.top .top-left span {
  position: absolute;
  top: 0.227rem;
  left: 0.378rem;
  font-size: 0.347rem;
}

.top .top-right {
  position: relative;
  width: 2.12rem;
  height: 0.747rem;
  background-color: #ffffff;
  border: solid 0.027rem #ff9344;
}

.top .top-right span {
  position: absolute;
  font-size: 0.347rem;
  top: 0.2rem;
  left: 0.187rem;
}

.top .top-right .box img {
  position: absolute;
  top: 0.307rem;
  right: 0.147rem;
  width: 0.427rem;
  height: 0.213rem;
}

.top-img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.64rem;
  height: 3.347rem;
  left: 0.36rem;
}

.top-img .imgbox {
  position: relative;
  top: 0.24rem;
  height: 2.457rem;
  margin-right: 0.435rem;
}

.top-img .imgbox img {
  width: 1.973rem;
  height: 1.987rem;
}

.top-img .imgbox .text {
  position: absolute;
  top: 1.52rem;
  left: 0.667rem;
}

.top-img .imgbox .text span {
  font-size: 0.347rem;
}

.top-img .imgbox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 2.917rem;
  left: 3.96rem;
  width: 1.253rem;
  height: 0.24rem;
}

.top-img .imgbox2 .one {
  width: 0.253rem;
  height: 0.24rem;
  border-radius: 50%;
  background-color: #FFC9A1;
}

.top-img .imgbox2 .one:first-child {
  background-color: #ff9344;
}

.middle {
  margin: 0 auto;
  width: 9.4rem;
  height: 10.667rem;
}

.middle .middle-one {
  position: relative;
  margin: 0 auto;
  width: 9.4rem;
  height: 2.84rem;
  margin-bottom: 0.933rem;
}

.middle .middle-one .middle-text {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.44rem;
  height: 1.36rem;
}

.middle .middle-one .middle-text .hezi1 {
  position: absolute;
  top: -0.35rem;
  left: 0;
}

.middle .middle-one .middle-text .hezi2 {
  position: absolute;
  top: -0.35rem;
  left: 8.13rem;
}

.middle .middle-one .middle-text .hezi1 img {
  width: 0.72rem;
  height: 0.56rem;
}

.middle .middle-one .middle-text .hezi1 span {
  font-size: 0.4rem;
}

.middle .middle-one .middle-text .hezi2 img {
  width: 0.333rem;
  height: 0.347rem;
}

.middle .middle-one .middle-text .hezi2 span {
  font-size: 0.32rem;
}

.middle .middle-one .middle-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 1.067rem;
  width: 9.4rem;
  height: 1.773rem;
}

.middle .middle-one .middle-img img {
  width: 1.773rem;
  height: 1.773rem;
}

.middle .middle-one:nth-child(2) .middle-text .hezi1 img {
  width: 0.627rem;
  height: 0.773rem;
}

.middle .middle-one:nth-child(3) .middle-text .hezi1 img {
  width: 0.707rem;
  height: 0.693rem;
}
