html {
  font-size: 37.5px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.813rem;
  background-color: #ffffff;
}

.bottom .bottom-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0.187rem;
  left: 0.613rem;
  bottom: 0.187rem;
  width: 8.693rem;
  height: 1.427rem;
}

.bottom .bottom-text .bottom-box {
  position: relative;
  width: 0.973rem;
  height: 1.507rem;
}

.bottom .bottom-text .bottom-box a div {
  width: 0.993rem;
  height: 0.993rem;
}

.bottom .bottom-text .bottom-box:first-child a div {
  background: url("./../images/jinglingtu.png") no-repeat 0 -1.154rem/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(2) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -1.165rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(3) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -2.26rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(4) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -3.42rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box span {
  position: absolute;
  top: 0.873rem;
  left: 0.15rem;
  width: 0.88rem;
  height: 0.347rem;
  font-size: 0.347rem;
  line-height: 0.7rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 0.64rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.387rem;
  height: 0.76rem;
  top: 0.64rem;
  left: 00.307rem;
}

.top .top-left {
  position: relative;
  width: 1.64rem;
  height: 0.76rem;
  background-color: #ffffff;
  border-radius: 0.267rem;
  border: solid 0.027rem #ff9344;
}

.top .top-left span {
  position: absolute;
  top: 0.227rem;
  left: 0.378rem;
  font-size: 0.347rem;
}

.top .top-span span {
  position: absolute;
  top: 0.867rem;
  left: 4.52rem;
  font-size: 0.347rem;
}

.top .top-right img {
  position: absolute;
  top: 0.607rem;
  right: 0.27rem;
  width: 0.693rem;
  height: 0.667rem;
}

.img {
  margin: 0 auto;
  margin-top: 0.333rem;
  width: 9.4rem;
  height: 3.467rem;
}

.img img {
  width: 9.4rem;
  height: 3.467rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle {
  margin: 0 auto;
  width: 8.88rem;
  height: 9.92rem;
}

.middle .middle-top {
  margin-top: 0.48rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8.88rem;
  height: 0.787rem;
}

.middle .middle-top span {
  margin-top: 0.1rem;
  width: 1.813rem;
  height: 0.76rem;
  font-family: MicrosoftYaHei;
  font-size: 0.96rem;
  font-weight: normal;
  font-stretch: normal;
  line-height: 0.607rem;
  letter-spacing: 0rem;
  color: #ff9344;
}

.middle .middle-top button {
  width: 1.48rem;
  height: 0.787rem;
  background-color: #ff9344;
  border-radius: 0.267rem;
  border: solid 0.027rem #ff9344;
}

.middle .middle-middle1 {
  margin-top: 0.48rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8.88rem;
  height: 0.48rem;
}

.middle .middle-middle1 .middle1-left {
  width: 0.507rem;
  height: 0.48rem;
}

.middle .middle-middle1 .middle1-left img {
  position: absolute;
  width: 0.507rem;
  height: 0.48rem;
}

.middle .middle-middle1 .text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  left: 0.68rem;
  top: 0;
}

.middle .middle-middle1 .text span {
  font-size: 0.4rem;
}

.middle .middle-middle1 .text span:nth-child(2) {
  color: #ff9344;
}

.middle .middle-middle1 .middle1-right span {
  position: absolute;
  top: 0rem;
  left: 6.58rem;
  font-size: 0.347rem;
  color: #8e8e8e;
}

.middle .middle-middle2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.2rem;
  width: 8.853rem;
  height: 0.893rem;
  background-color: #ff9344;
}

.middle .middle-middle2 span:first-child {
  width: 1.6rem;
  height: 0.413rem;
  font-size: 0.4rem;
  color: #ffffff;
}

.middle .middle-middle2 span:nth-child(2) {
  width: 0.407rem;
  height: 0.733rem;
  font-size: 0.623rem;
  color: #ffffff;
}

.middle .middle-bottom {
  margin-top: 0.133rem;
  width: 8.853rem;
}

.middle .middle-bottom .bottom-box {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 8.853rem;
  height: 2.347rem;
  margin-bottom: 0.12rem;
}

.middle .middle-bottom .bottom-box .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.middle .middle-bottom .bottom-box .left .bottom-box-img {
  width: 2.36rem;
  height: 2.347rem;
}

.middle .middle-bottom .bottom-box .left .bottom-box-img img {
  width: 2.36rem;
  height: 2.347rem;
}

.middle .middle-bottom .bottom-box .left .text {
  position: relative;
  width: 3.44rem;
  height: 2.347rem;
}

.middle .middle-bottom .bottom-box .left .text span:first-child {
  position: absolute;
  top: 0.2rem;
  left: 0.293rem;
  width: 4.44rem;
  height: 0.413rem;
  font-size: 0.4rem;
}

.middle .middle-bottom .bottom-box .left .text .text-box .text-box-img {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.65rem;
  left: 0.293rem;
  width: 2.667rem;
  height: 0.453rem;
}

.middle .middle-bottom .bottom-box .left .text .text-box .text-box-img img {
  width: 0.48rem;
  height: 0.453rem;
}

.middle .middle-bottom .bottom-box .left .text span:nth-child(2) {
  position: absolute;
  top: 0.75rem;
  left: 2.8rem;
  width: 0.933rem;
  height: 0.347rem;
  font-size: 0.347rem;
  color: #929292;
}

.middle .middle-bottom .bottom-box .left .text span:nth-child(3) {
  position: absolute;
  top: 1.26rem;
  left: 0.293rem;
  font-size: 0.32rem;
  color: #929292;
}

.middle .middle-bottom .bottom-box .left .text span:nth-child(4) {
  position: absolute;
  top: 1.773rem;
  left: 0.293rem;
  font-size: 0.267rem;
  color: #ff9344;
}

.middle .middle-bottom .bottom-box .button {
  position: absolute;
  top: 0.893rem;
  left: 7.383rem;
  width: 1.48rem;
  height: 0.787rem;
}

.middle .middle-bottom .bottom-box .button button {
  position: absolute;
  width: 1.48rem;
  height: 0.787rem;
  background-color: #ff9344;
  border-radius: 0.267rem;
  border: solid 0.027rem #ff9344;
  color: #ffffff;
}

.bottom .bottom-text .bottom-box:first-child a div {
  background: url("./../images/jinglingtu.png") no-repeat 0 0/6.2rem 5.64rem;
}
