html {
  font-size: 37.5px;
}

.bottom {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 1.813rem;
  background-color: #ffffff;
}

.bottom .bottom-text {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0.187rem;
  width: 8.693rem;
  height: 1.427rem;
}

.bottom .bottom-text .bottom-box a {
  width: 0.973rem;
  height: 0.973rem;
}

.bottom .bottom-text .bottom-box:first-child a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat 0 -1.154rem/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(2) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -1.165rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(3) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -2.26rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(4) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -3.42rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bottom .bottom-text .bottom-box span {
  font-size: 0.347rem;
  line-height: 0.7rem;
}

.body {
  margin-bottom: 1.813rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 0.64rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.387rem;
  height: 0.76rem;
  top: 0.64rem;
  left: 00.307rem;
}

.top .top-left {
  position: relative;
  width: 1.64rem;
  height: 0.76rem;
  background-color: #ffffff;
  border-radius: 0.267rem;
  border: solid 0.027rem #ff9344;
}

.top .top-left span {
  position: absolute;
  top: 0.227rem;
  left: 0.378rem;
  font-size: 0.347rem;
}

.top .top-span span {
  position: absolute;
  top: 0.867rem;
  left: 4.32rem;
  font-size: 0.347rem;
}

.top .top-right {
  position: relative;
  width: 2.12rem;
  height: 0.747rem;
  background-color: #ffffff;
  border: solid 0.027rem #ff9344;
}

.top .top-right span {
  position: absolute;
  font-size: 0.347rem;
  top: 0.2rem;
  left: 0.187rem;
}

.top .top-right .box img {
  position: absolute;
  top: 0.307rem;
  right: 0.147rem;
  width: 0.427rem;
  height: 0.213rem;
}

.top-text {
  position: relative;
  width: 100%;
  height: 4rem;
}

.top-text .top-textbox {
  position: relative;
  margin: 0 auto;
  top: 0.48rem;
  width: 6.827rem;
  height: 3.4rem;
}

.top-text .top-textbox .top-textbox1 {
  position: relative;
  margin: 0 auto;
  width: 3.547rem;
  height: 0.68rem;
}

.top-text .top-textbox .top-textbox1 input {
  outline: none;
  position: absolute;
  width: 3.547rem;
  height: 0.68rem;
  border-radius: 30rem;
  background-color: #ffffff;
  border: solid 0.027rem #ff9344;
  text-align: center;
}

.top-text .top-textbox .top-textbox1 div {
  position: relative;
  bottom: 0.273rem;
  left: 3.1rem;
}

.top-text .top-textbox .top-textbox1 div img {
  width: 0.387rem;
  height: 0.4rem;
}

.top-text .top-textbox .top-dabox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: relative;
  top: 0.667rem;
  width: 6.827rem;
  height: 1.747rem;
}

.top-text .top-textbox .top-dabox .top-dabox1 {
  position: relative;
  width: 1.667rem;
  height: 0.853rem;
  background-color: #dcdcdc;
}

.top-text .top-textbox .top-dabox .top-dabox1 span {
  position: absolute;
  top: 0.347rem;
  left: 0.2rem;
  width: 1.2rem;
  height: 0.267rem;
  text-align: center;
  font-size: 0.267rem;
  color: #939393;
}

.top-text .top-textbox .span {
  position: relative;
  margin: 0 auto;
  top: 0.5rem;
  width: 1.933rem;
  height: 0.347rem;
}

.top-text .top-textbox .span span {
  position: absolute;
  font-size: 0.347rem;
}

.middle .middle-one {
  margin: 0 auto;
  width: 9.467rem;
  height: 5.707rem;
}

.middle .middle-one .middle-top-one {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.44rem;
  height: 1.36rem;
}

.middle .middle-one .middle-top-one .hezi1 img {
  width: 0.427rem;
  height: 0.627rem;
}

.middle .middle-one .middle-top-one .hezi1 span {
  width: 1.587rem;
  height: 0.387rem;
  font-size: 0.4rem;
  line-height: 0.56rem;
  color: #000000;
}

.middle .middle-one .middle-top-one .hezi2 img {
  width: 0.333rem;
  height: 0.347rem;
}

.middle .middle-one .middle-top-one .hezi2 span {
  width: 0.627rem;
  height: 0.32rem;
  font-size: 0.32rem;
  line-height: 0.7rem;
  color: #000000;
}

.middle .middle-one .bottom-img {
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.467rem;
  height: 4.693rem;
}

.middle .middle-one .bottom-img .bottom-left-img {
  width: 3.733rem;
  height: 4.393rem;
}

.middle .middle-one .bottom-img .bottom-left-img img {
  width: 3.733rem;
  height: 4.393rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .middle-one .bottom-img .bottom-right-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 5.6rem;
  height: 4.393rem;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img {
  width: 5.6rem;
  height: 1.81rem;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img img {
  width: 5.6rem;
  height: 1.81rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 5.6rem;
  height: 2.477rem;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img2 .top-img2-left {
  width: 2.6rem;
  height: 2.477rem;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img2 .top-img2-left img {
  width: 2.6rem;
  height: 2.477rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img2 .top-img2-right {
  width: 2.813rem;
  height: 2.477rem;
}

.middle .middle-one .bottom-img .bottom-right-img .top-img2 .top-img2-right img {
  width: 2.813rem;
  height: 2.477rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .middle-two {
  margin: 0 auto;
  width: 9.467rem;
  height: 4.467rem;
}

.middle .middle-two .middle-top-two {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.44rem;
  height: 1.36rem;
}

.middle .middle-two .middle-top-two .hezi1 img {
  width: 0.547rem;
  height: 0.533rem;
}

.middle .middle-two .middle-top-two .hezi1 span {
  width: 1.587rem;
  height: 0.387rem;
  font-size: 0.4rem;
  line-height: 0.56rem;
  color: #000000;
}

.middle .middle-two .middle-top-two .hezi2 img {
  width: 0.333rem;
  height: 0.347rem;
}

.middle .middle-two .middle-top-two .hezi2 span {
  width: 0.627rem;
  height: 0.32rem;
  font-size: 0.32rem;
  line-height: 0.7rem;
  color: #000000;
}

.middle .middle-two .middle-img-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.467rem;
  height: 2.667rem;
}

.middle .middle-two .middle-img-two .img1 {
  width: 3.04rem;
  height: 2.667rem;
}

.middle .middle-two .middle-img-two .img1 img {
  width: 3.04rem;
  height: 2.667rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .middle-two .middle-img-two .img2 {
  width: 2.813rem;
  height: 2.667rem;
}

.middle .middle-two .middle-img-two .img2 img {
  width: 2.813rem;
  height: 2.667rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .middle-two .middle-img-two .img3 {
  width: 2.933rem;
  height: 2.667rem;
}

.middle .middle-two .middle-img-two .img3 img {
  width: 2.933rem;
  height: 2.667rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom .bottom-text .bottom-box:first-child a div {
  background: url("./../images/jinglingtu.png") no-repeat 0 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(3) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -2.26rem -1.145rem/6.2rem 5.64rem;
}
