html {
  font-size: 37.5px;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 1.813rem;
  background-color: #ffffff;
}

.bottom .bottom-text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0.187rem;
  left: 0.613rem;
  bottom: 0.187rem;
  width: 8.693rem;
  height: 1.427rem;
}

.bottom .bottom-text .bottom-box {
  position: relative;
  width: 0.973rem;
  height: 1.507rem;
}

.bottom .bottom-text .bottom-box a div {
  width: 0.993rem;
  height: 0.993rem;
}

.bottom .bottom-text .bottom-box:first-child a div {
  background: url("./../images/jinglingtu.png") no-repeat 0 -1.154rem/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(2) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -1.165rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(3) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -2.26rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(4) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -3.42rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box span {
  position: absolute;
  top: 0.873rem;
  left: 0.15rem;
  width: 0.88rem;
  height: 0.347rem;
  font-size: 0.347rem;
  line-height: 0.7rem;
}

.body {
  margin-bottom: 1.813rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9.413rem;
  padding: 0.227rem;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top .logo {
  position: relative;
  width: 1.64rem;
  height: 1.64rem;
}

.top .textbox {
  position: relative;
  width: 3.547rem;
  height: 0.58rem;
}

.top .textbox input {
  position: absolute;
  width: 3.547rem;
  height: 0.68rem;
  border-radius: 30rem;
  background-color: #ffffff;
  border: solid 0.027rem #ff9344;
  text-align: center;
  outline: none;
}

.top .textbox span {
  position: absolute;
  width: 0.387rem;
  height: 0.4rem;
  right: 0.08rem;
  bottom: 0.473rem;
}

.top .textbox span img {
  width: 0.387rem;
  height: 0.4rem;
}

.top .top-textbox {
  position: relative;
  margin-left: 1.093rew;
  width: 2.12rem;
  height: 0.747rem;
  background-color: #ffffff;
  border: solid 0.027rem #ff9344;
}

.top .top-textbox span {
  position: absolute;
  width: 2.04rem;
  height: 0.333rem;
  font-size: 0.347rem;
  color: #000000;
  top: 0.2rem;
  left: 0.187rem;
}

.top .top-textbox .box img {
  position: absolute;
  top: 0.307rem;
  right: 0.147rem;
  width: 0.427rem;
  height: 0.213rem;
}

.img {
  position: relative;
  width: 10rem;
  height: 3.827rem;
  overflow: hidden;
}

.img img:first-child {
  position: absolute;
  top: -54px;
  width: 10rem;
  height: 6.8rem;
}

.img img:nth-child(2) {
  position: absolute;
  width: 10rem;
  height: 0.16rem;
  top: 3.667rem;
}

.middle-top {
  width: 10rem;
}

.middle-top .middle-top-one {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.44rem;
  height: 1.36rem;
}

.middle-top .middle-top-one .hezi1 img {
  width: 0.747rem;
  height: 0.72rem;
}

.middle-top .middle-top-one .hezi1 span {
  width: 1.587rem;
  height: 0.387rem;
  font-size: 0.4rem;
  line-height: 0.607rem;
  letter-spacing: 0rem;
  color: #000000;
}

.middle-top .middle-top-one .hezi2 img {
  width: 0.333rem;
  height: 0.347rem;
}

.middle-top .middle-top-one .hezi2 span {
  width: 0.627rem;
  height: 0.32rem;
  font-size: 0.32rem;
  line-height: 0.7rem;
  letter-spacing: 0rem;
  color: #000000;
}

.middle-top .middle-top-two {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  width: 7.8rem;
  height: 2.88rem;
}

.middle-top .middle-top-two img {
  width: 3.213rem;
  height: 1.253rem;
}

.middle-down {
  margin: 0 auto;
  width: 9.44rem;
}

.middle-down .middle-down-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.44rem;
  height: 1.36rem;
}

.middle-down .middle-down-one .hezi1 img {
  width: 0.747rem;
  height: 0.72rem;
}

.middle-down .middle-down-one .hezi1 span {
  width: 1.587rem;
  height: 0.387rem;
  font-size: 0.4rem;
  line-height: 0.607rem;
  letter-spacing: 0rem;
  color: #000000;
}

.middle-down .middle-down-one .hezi2 img {
  width: 0.333rem;
  height: 0.347rem;
}

.middle-down .middle-down-one .hezi2 span {
  width: 0.627rem;
  height: 0.32rem;
  font-size: 0.32rem;
  line-height: 0.7rem;
  letter-spacing: 0rem;
  color: #000000;
}

.middle-down .middle-down-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 9.44rem;
}

.middle-down .middle-down-two a {
  width: 100%;
  height: 2.173rem;
  margin-bottom: 0.4rem;
}

.middle-down .middle-down-two a .box-top {
  width: 100%;
  height: 2.173rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle-down .middle-down-two a .box-top .left-hezi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle-down .middle-down-two a .box-top .left-hezi img {
  width: 2.813rem;
  height: 2.187rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle-down .middle-down-two a .box-top .left-hezi div {
  position: relative;
  left: 0.293rem;
  top: -0.1rem;
  width: 4rem;
  height: 2.187rem;
}

.middle-down .middle-down-two a .box-top .left-hezi div span:first-child {
  position: absolute;
  width: 3.44rem;
  height: 0.413rem;
  font-size: 0.4rem;
  line-height: 0.7rem;
  top: 0.333rem;
}

.middle-down .middle-down-two a .box-top .left-hezi div span:nth-child(2) {
  position: absolute;
  top: 0.95rem;
  width: 3.02rem;
  height: 0.307rem;
  font-size: 0.293rem;
  line-height: 0.7rem;
}

.middle-down .middle-down-two a .box-top .left-hezi div span:nth-child(3) {
  position: absolute;
  top: 1.6rem;
  width: 1.427rem;
  height: 0.347rem;
  font-size: 0.427rem;
  line-height: 0.513rem;
  color: #ff9344;
}

.middle-down .middle-down-two a .box-top .right-hezi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 1.466rem;
  height: 1.466rem;
}

.middle-down .middle-down-two a .box-top .right-hezi span:first-child {
  width: 1.1rem;
  height: 0.24rem;
  font-size: 0.293rem;
  line-height: 0.513rem;
  letter-spacing: 0rem;
  color: #494949;
}

.middle-down .middle-down-two a .box-top .right-hezi span:nth-child(2) {
  width: 1.53rem;
  height: 0.293rem;
  font-size: 0.293rem;
  line-height: 0.513rem;
  letter-spacing: 0rem;
  color: #494949;
}
