html {
  font-size: 37.5px;
}

.bottom {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  width: 100%;
  height: 1.813rem;
  background-color: #ffffff;
}

.bottom .bottom-text {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0.187rem;
  width: 8.693rem;
  height: 1.427rem;
}

.bottom .bottom-text .bottom-box a {
  width: 0.973rem;
  height: 0.973rem;
}

.bottom .bottom-text .bottom-box:first-child a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat 0 -1.154rem/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(2) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -1.165rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(3) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -2.26rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(4) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -3.42rem 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.bottom .bottom-text .bottom-box span {
  font-size: 0.347rem;
  line-height: 0.7rem;
}

.body {
  margin-bottom: 1.813rem;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 0.64rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.387rem;
  height: 0.76rem;
  top: 0.64rem;
  left: 00.307rem;
}

.top .top-left {
  position: relative;
  width: 1.64rem;
  height: 0.76rem;
  background-color: #ffffff;
  border-radius: 0.267rem;
  border: solid 0.027rem #ff9344;
}

.top .top-left span {
  position: absolute;
  top: 0.227rem;
  left: 0.378rem;
  font-size: 0.347rem;
}

.top .top-span span {
  position: absolute;
  top: 0.867rem;
  left: 4.32rem;
  font-size: 0.347rem;
}

.top .top-right img {
  position: absolute;
  top: 0.607rem;
  right: 0.27rem;
  width: 0.827rem;
  height: 0.8rem;
}

.my {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.387rem;
  height: 2.893rem;
}

.my .my-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.my .my-left .my-img {
  width: 2.267rem;
  height: 2.267rem;
  border-radius: 50%;
  overflow: hidden;
}

.my .my-left .my-img img {
  width: 2.267rem;
  height: 2.267rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.my .my-left .my-text {
  margin-left: 0.333rem;
  width: 2.133rem;
}

.my .my-left .my-text a {
  font-size: 0.4rem;
}

.my .my-left .my-text span {
  font-size: 0.347rem;
  color: #9d9d9d;
}

.img {
  position: relative;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 9.387rem;
  height: 2.013rem;
}

.img div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 2.6rem;
  height: 2.013rem;
  background-color: #B2E0A0;
}

.img div img {
  position: absolute;
  top: 0.267rem;
  width: 1.053rem;
  height: 1.093rem;
}

.img div span {
  position: absolute;
  top: 1.507rem;
  width: 1.87rem;
  text-align: center;
  height: 0.347rem;
  font-size: 0.347rem;
}

.img div:nth-child(2) {
  background-color: #A0DCE0;
}

.img div:nth-child(3) {
  background-color: #E0B7A0;
}

.middle {
  margin: 0 auto;
  width: 9.387rem;
  height: 10rem;
}

.middle .text {
  margin-top: 0.307rem;
  width: 9.387rem;
  height: 0.987rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.middle .text .hezi1 span {
  position: absolute;
  top: 0.267rem;
  left: 1.28rem;
  font-size: 0.4rem;
}

.middle .text .hezi2 img {
  position: absolute;
  top: 0.307rem;
  right: 0;
  width: 0.333rem;
  height: 0.347rem;
}

.middle .text .hezi2 span {
  position: absolute;
  top: 0.307rem;
  right: 0.44rem;
  font-size: 0.32rem;
}

.middle .text:nth-child(5) {
  margin-top: 1.053rem;
}

.middle .text:first-child .hezi1 img {
  width: 0.76rem;
  height: 0.987rem;
}

.middle .text:nth-child(2) .hezi1 img {
  width: 0.947rem;
  height: 0.987rem;
}

.middle .text:nth-child(3) .hezi1 img {
  width: 1.253rem;
  height: 0.773rem;
}

.middle .text:nth-child(4) .hezi1 img {
  width: 0.787rem;
  height: 0.787rem;
}

.middle .text:nth-child(5) .hezi1 img {
  width: 1.04rem;
  height: 1.053rem;
}

.middle .text:nth-child(6) .hezi1 img {
  width: 1.12rem;
  height: 0.787rem;
}

.middle .button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 7.173rem;
  height: 1.013rem;
}

.middle .button button {
  width: 1.96rem;
  height: 1.013rem;
  background-color: #ff9344;
  border: transparent;
  border-radius: 0.5rem;
  color: #ffffff;
  font-size: 0.32rem;
}

.bottom .bottom-text .bottom-box:first-child a div {
  background: url("./../images/jinglingtu.png") no-repeat 0 0/6.2rem 5.64rem;
}

.bottom .bottom-text .bottom-box:nth-child(4) a div {
  width: 0.973rem;
  height: 0.973rem;
  background: url("./../images/jinglingtu.png") no-repeat -3.42rem -1.154rem/6.2rem 5.64rem;
}
