// 公共区域
@charset "UTF-8";

html {
    font-size: 37.5px;
}

// 底部导航栏
.bottom {
    position: fixed;
    display: flex;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 1.813rem;
    background-color: #ffffff;

    .bottom-text {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        bottom: 0.187rem;
        width: 8.693rem;
        height: 1.427rem;
        // background-color: aqua;

        .bottom-box a {
            width: 0.973rem;
            height: 0.973rem;
        }

        .bottom-box:first-child a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat 0 -1.154rem / 6.2rem 5.64rem;
        }

        .bottom-box:nth-child(2) a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat -1.165rem 0 / 6.2rem 5.64rem;
        }

        .bottom-box:nth-child(3) a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat -2.26rem 0 / 6.2rem 5.64rem;
        }

        .bottom-box:nth-child(4) a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat -3.42rem 0 / 6.2rem 5.64rem;
        }

        .bottom-box .text {
            display: flex;
            justify-content: center;
            text-align: center;
        }

        .bottom-box span {
            // text-align: center;
            font-size: 0.347rem;
            line-height: 0.7rem;
        }
    }
}