// 公共区域
@charset "UTF-8";

html {
    font-size: 37.5px;
}


// 底部导航栏
.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 1.813rem;
    background-color: #ffffff;

    .bottom-text {
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 0.187rem;
        left: 0.613rem;
        bottom: 0.187rem;
        width: 8.693rem;
        height: 1.427rem;
        // background-color: aqua;

        .bottom-box {
            position: relative;
            width: 0.973rem;
            height: 1.507rem;
        }

        .bottom-box a div {
            width: 0.993rem;
            height: 0.993rem;
        }

        .bottom-box:first-child a div {
            background: url("./../images/jinglingtu.png") no-repeat 0 -1.154rem / 6.2rem 5.64rem;
        }

        .bottom-box:nth-child(2) a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat -1.165rem 0 / 6.2rem 5.64rem;
        }

        .bottom-box:nth-child(3) a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat -2.26rem 0 / 6.2rem 5.64rem;
        }

        .bottom-box:nth-child(4) a div {
            width: 0.973rem;
            height: 0.973rem;
            background: url("./../images/jinglingtu.png") no-repeat -3.42rem 0 / 6.2rem 5.64rem;
        }

        .bottom-box span {
            position: absolute;
            top: 0.873rem;
            left: 0.15rem;
            width: 0.88rem;
            height: 0.347rem;
            font-size: 0.347rem;
            line-height: 0.7rem;
        }
    }
}