@charset "UTF-8";
body {
  background-color: #F3FAFF;
}

.wf-wrap {
  width: 100%;
  height: 480px;
  background-color: antiquewhite;
  background-image: url("./../images/strategy/背景图.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  margin-bottom: 100px;
}

.wf-wrap .wf-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  width: 1190px;
  height: 78px;
}

.wf-wrap .wf-top .wf-logo {
  margin-top: 17px;
  width: 195px;
  height: 50px;
}

.wf-wrap .wf-top .wf-logo img {
  width: 100%;
  height: 100%;
}

.wf-wrap .wf-top .wf-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 300px;
  height: 100%;
  line-height: 78px;
  text-align: center;
}

.wf-wrap .wf-top .wf-span li {
  color: #fff;
  font-weight: 600;
}

.wf-wrap .wf-title {
  margin-top: 134px;
  text-align: center;
}

.wf-wrap .wf-title .title-text-top {
  width: 100%;
  height: 65px;
}

.wf-wrap .wf-title .title-text-top .title-text-top-span {
  margin: 0 auto;
  height: 65px;
  font-size: 42px;
}

.wf-wrap .wf-title .title-text-top .title-text-top-span span {
  letter-spacing: -5px;
  font-weight: normal;
  font-style: normal;
}

.wf-wrap .wf-title .title-text-buttom {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 20px;
}

.wf-wrap .wf-title .title-text-buttom .title-text-buttom-span {
  position: relative;
  margin: 0 auto;
  margin-bottom: 0;
  width: 304px;
  height: 21px;
}

.wf-wrap .wf-title .title-text-buttom .title-text-buttom-span::after {
  position: absolute;
  content: '';
  top: 8px;
  width: 100%;
  height: 2px;
  background-color: #379CF4;
  left: 100%;
  bottom: 0;
}

.wf-wrap .wf-title .title-text-buttom .title-text-buttom-span::before {
  position: absolute;
  content: '';
  top: 8px;
  width: 100%;
  height: 2px;
  background-color: #379CF4;
  right: 105%;
  bottom: 0;
}

.wf-wrap .wf-title span {
  color: #fff;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 40px;
}

.content .content-left {
  position: relative;
}

.content .content-left-show {
  display: none;
  width: 778px;
}

.content .content-left-show .content-left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 746px;
  height: 264px;
  -webkit-box-shadow: 0 6px 26px rgba(0, 0, 0, 0.1);
          box-shadow: 0 6px 26px rgba(0, 0, 0, 0.1);
  margin-bottom: 36px;
  background-color: #FFFFFF;
}

.content .content-left-show .content-left-box .content-left-box-img {
  width: 200px;
  height: 260px;
  overflow: hidden;
}

.content .content-left-show .content-left-box .content-left-box-img img {
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}

.content .content-left-show .content-left-box .content-left-box-text {
  width: 528px;
  height: 264px;
}

.content .content-left-show .content-left-box .content-left-box-text .post-title {
  padding-top: 40px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: top;
  width: 100%;
}

.content .content-left-show .content-left-box .content-left-box-text .post-title span {
  text-align: left;
  font-weight: 600;
  color: #13304a;
  font-size: 18px;
  line-height: 18px;
}

.content .content-left-show .content-left-box .content-left-box-text .post-comment {
  margin-top: 10px;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.content .content-left-show .content-left-box .content-left-box-text .post-comment span {
  color: #379cf4;
  font-size: 12px;
  line-height: 12px;
}

.content .content-left-show .content-left-box .content-left-box-text .post-excerpt {
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.content .content-left-show .content-left-box .content-left-box-text .post-excerpt span {
  color: #596e80;
  font-size: 13px;
  line-height: 30px;
}

.content .content-left-show .content-left-box:hover .img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.content .content-left-show .buttom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 790px;
  height: 40px;
}

.content .content-left-show .buttom-page .fw-nubmerOne {
  border: 1px solid #022839;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 27px;
  margin-right: 5px;
}

.content .content-left-show .buttom-page .fw-nubmerOne span {
  margin-right: 5px;
  color: #fff;
}

.content .content-left-show .buttom-page .fw-nubmerOne:first-child {
  background-color: #022839;
}

.content .content-left-show .buttom-page .fw-nubmerOne:nth-child(2) span {
  color: #000;
}

.content .content-left-show .fw-nubmerTwo {
  margin-right: 5px;
  border: 1px solid #022839;
  color: #022839;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 27px;
}

.content .content-left-show:nth-child(2) .buttom-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  width: 790px;
  height: 40px;
}

.content .content-left-show:nth-child(2) .buttom-page .fw-nubmerThree {
  margin-right: 5px;
  border: 1px solid #022839;
  color: #022839;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 27px;
}

.content .content-left-show:nth-child(2) .buttom-page .fw-nubmerFour {
  border: 1px solid #022839;
  font-size: 14px;
  line-height: 14px;
  padding: 12px 27px;
  margin-right: 5px;
}

.content .content-left-show:nth-child(2) .buttom-page .fw-nubmerFour span {
  margin-right: 5px;
  color: #022839;
}

.content .content-left-show:nth-child(2) .buttom-page .fw-nubmerFour:last-child {
  background-color: #022839;
}

.content .content-left-show:nth-child(2) .buttom-page .fw-nubmerFour:last-child span {
  color: #fff;
}

.content .content-right {
  width: 400px;
  height: 998px;
  position: relative;
  min-height: 1px;
  padding-left: 25px;
  padding-right: 5px;
  float: left;
  max-width: 100%;
}

.content .content-right .content-right-search {
  position: relative;
  width: 343px;
  height: 40px;
  padding-right: 15px;
  padding-left: 12px;
}

.content .content-right .content-right-search input {
  width: 100%;
  height: 65%;
  padding: 6px 10px 5px;
  font-size: 12;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  color: #afc2ca;
  border-radius: 30px;
}

.content .content-right .content-right-search .search-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .content-right .content-right-search .search-box .iconfont {
  color: #379CF4;
}

.content .content-right .content-right-box .content-right-notes {
  width: 340px;
  height: 36px;
  padding-top: 30px;
  padding-bottom: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.content .content-right .content-right-box .content-right-notes span {
  font-family: Oswald;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  color: #13304a;
}

.content .content-right .content-right-box .content-right-text {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 15px;
  margin-bottom: 18px;
}

.content .content-right .content-right-box .content-right-text .text-img {
  width: 60px;
  height: 60px;
}

.content .content-right .content-right-box .content-right-text .text-img img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.content .content-right .content-right-box .content-right-text .text-span .text-span1 {
  padding-top: 8px;
  padding-left: 13px;
}

.content .content-right .content-right-box .content-right-text .text-span .text-span1 span {
  color: #13304a;
  font-size: 14px;
  line-height: 14px;
}

.content .content-right .content-right-box .content-right-text .text-span .text-span2 {
  padding-top: 8px;
  padding-left: 13px;
}

.content .content-right .content-right-box .content-right-text .text-span .text-span2 span {
  color: #96a4af;
  font-size: 12px;
  line-height: 12px;
}

.content .content-right .content-right-box .content-right-text:hover .text-span .text-span1 span {
  color: #379CF4;
}

.content .content-right .content-right-box .content-right-text:hover::after {
  position: absolute;
  content: '';
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #379CF4;
  left: 85px;
  bottom: 0;
  -webkit-transition: all .6s ease 0s;
  transition: all .6s ease 0s;
  -webkit-animation: one 1s forwards;
          animation: one 1s forwards;
}

@-webkit-keyframes one {
  0% {
    width: 0;
  }
  100% {
    width: 266px;
  }
}

@keyframes one {
  0% {
    width: 0;
  }
  100% {
    width: 266px;
  }
}

.active {
  display: block !important;
}

.buttom {
  margin-top: 90px;
  width: 100%;
  height: 378px;
  background-color: #13304a;
}

.buttom .buttom-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 322px;
  border-bottom: 1px solid #42596E;
}

.buttom .buttom-top .container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  height: 162px;
}

.buttom .buttom-top .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1200px;
  height: 162px;
}

.buttom .buttom-top .container .row .row-text {
  width: 390px;
  height: 162px;
}

.buttom .buttom-top .container .row .row-text .row-text-span {
  width: 349px;
  height: 162px;
}

.buttom .buttom-top .container .row .row-text .row-text-span .row-top-span span {
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
}

.buttom .buttom-top .container .row .row-text .row-text-span .row-buttom-span {
  padding-top: 30px;
}

.buttom .buttom-top .container .row .row-text .row-text-span .row-buttom-span span {
  line-height: 28px;
  font-size: 13px;
  color: #ccdae1;
}

.buttom .buttom-top .container .row .row-text:nth-child(2) .row-text-span .row-buttom-span .row-buttom-spanText span:first-child {
  font-size: 13px;
  color: #379cf4;
}

.buttom .buttom-top .container .row .row-text:nth-child(3) .row-text-span .row-top-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttom .buttom-top .container .row .row-text:nth-child(3) .row-text-span .row-top-span li:first-child {
  background: url("./../images/strategy/social_icon_64x64.png") no-repeat -321px -1px;
  width: 62px;
  height: 62px;
  margin-right: 2px;
}

.buttom .buttom-top .container .row .row-text:nth-child(3) .row-text-span .row-top-span li:nth-child(2) {
  background: url("./../images/strategy/social_icon_64x64.png") no-repeat -385px -1px;
  width: 62px;
  height: 62px;
  margin-right: 2px;
}

.buttom .buttom-top .container .row .row-text:nth-child(3) .row-text-span .row-top-span li:nth-child(3) {
  background: url("./../images/strategy/social_icon_64x64.png") no-repeat -65px -1px;
  width: 62px;
  height: 62px;
  margin-right: 2px;
}

.buttom .buttom-top .container .row .row-text:nth-child(3) .row-text-span .row-top-span li:last-child {
  background: url("./../images/strategy/social_icon_64x64.png") no-repeat -1px -1px;
  width: 62px;
  height: 62px;
  margin-right: 2px;
}

.buttom .buttom-buttom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 55px;
}

.buttom .buttom-buttom .fw-buttom {
  margin: 0 auto;
  width: 1190px;
  max-width: 1200px;
  height: 25px;
}

.buttom .buttom-buttom .fw-buttom span {
  font-size: 13px;
  color: white;
}
