@charset "UTF-8";

.list {
    width: 696px;
    height: 684px;
    display: flex;
    margin: 100px auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 2px solid #ccc;
}
.list li {
    display: flex;
    margin-bottom: 15px;
}
/* 右区域 */
.son2 {
    display: flex; 
    padding: 10px 0; 
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}
/* 图片区域 */
.son1 {
    height: 128px;
    height: 180px;
}
.son1 img {
    height: 100%;
    width: 100%;
}
/* 文本内容 */
.text {
    width: 375px;
}
/* 按钮内容 */
.button {
    width: 110px;
    height: 100%;
}
/* 文本和one */
.text,.one {
    display: flex;
}
.text {
    align-items: center;
    margin-bottom: 9px;
}
.text h3 {
    margin-right: 10px;
    font-size: 33px;
    font-weight: 600;
}

.one {
    /* 子元素变成圆角 */
    overflow: hidden;
    border-radius: 8px;
    line-height:26px;
    font-size: 13px;
    width: 87px;
    height: 28px;
    box-sizing: border-box;
    text-align: center;
    border: 1px solid #5E92CC;
}
.twoD {
    width: 34px;
    background-color: #5E92CC;
}
.imax {
    flex-grow: 1;
}
.two {
    font-size: 24px;
    line-height: 42px;
}
.two >p>span {
    color: #FFAB3F;
}
.button button {
    width: 110px;
    height: 57px;
    background-color: red;
    color: #fff;
    font-size: 23px;
    border: none;
    border-radius: 28.5px;
}
.button {
    display: flex;
    align-items: center;
}