@charset "UTF-8";

@font-face {
    font-family:
        "huawen";
    src: url("./../../4.24/演示案例/ttf/华文中宋.ttf");
}

body {
    background-image: url("./../../images/05.webp");
    /* 背景定位 */
    background-position: 100%;
}

.box1,
.box2 {
    /* 字体风格 */
    font-family: huawen;
}

.box1 {
    /* 宽高 */
    width: 200px;
    height: 100px;
    /* 字体大小 */
    font-size: 30px;
    /* 文本垂直居中 */
    line-height: 100px;
    /* 背景颜色 */
    /* background-color: #BEBEBF; */
    /* 设置圆角 */
    border-radius: 10px;
    /* 设置文字垂直居中 */
    vertical-align: middle;
    /* 上下边距设置 */
    margin-top: 100px;
    margin-bottom: 20px;
}

.box2 {
    font-size: 18px;
    width: 600px;
    height: 400px;
    /* 外边距设置 */
    margin: 50px auto;
    text-align: center;
}

.list a {
    /* 设置圆角 */
    /* border-radius: 10px; */
    /* 改变行内块元素 */
    display: inline-block;
    /* 设置内填充 */
    padding: 5px;
    /* 设置文字垂直居中 */
    vertical-align: middle;
    /* 内边距填充 */
    padding: 30px;
    /* 间隔距离 */
    margin: 5px auto;
}

a {
    text-shadow: 3px 3px 3px pink;
    transform: all .3s ease;
}

p {
    text-shadow: 5px 5px 5px pink;
    transform: all .3s ease;
}

.list a:hover {
    /*鼠标悬停在a标签身上时，显示背景*/
    background-color: #BEBEBF;
    /* 设置圆角 */
    /* border-radius: 10px; */
}

.list a::after {
    content: '';
}