.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left {
  width: 200px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  height: 500px;
  background-color: aqua;
}

.right {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 800px;
  background-color: blueviolet;
}
