@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 37.5px !important;
}

.body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url("./../images/drawable-xhdpi/背景.png") no-repeat;
  background-size: cover;
}

.dabox {
  margin: 0 auto;
  margin-top: 6.719rem;
  width: 18.438rem;
  height: 17.469rem;
}

.dabox .top-text {
  width: 100%;
  height: 6.594rem;
}

.dabox .top-text span {
  font-size: 0.938rem;
  line-height: 1.313rem;
  color: #0075c1;
}

.dabox .bodybox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-bottom: 0.5rem;
  width: 18.438rem;
  height: 11.875rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0rem 0.125rem 0.416rem 0.147rem rgba(0, 0, 0, 0.3);
          box-shadow: 0rem 0.125rem 0.416rem 0.147rem rgba(0, 0, 0, 0.3);
  border-radius: 0.313rem;
  background-color: rgba(255, 251, 251, 0.5);
}

.dabox .bodybox .bodybox-span1 {
  width: 100%;
  text-align: center;
}

.dabox .bodybox .bodybox-span1 span {
  font-size: 0.938rem;
  line-height: 0.563rem;
  letter-spacing: 0.047rem;
  color: #434242;
}

.dabox .bodybox .bodybox-span2 {
  margin-top: 2.375rem;
  width: 100%;
  text-align: center;
}

.dabox .bodybox .bodybox-span2 span {
  font-size: 0.938rem;
  line-height: 0.563rem;
  letter-spacing: 0.047rem;
  color: #434242;
}
