header {
  width: 100%;
}

header .header-top {
  width: 100%;
  height: 16px;
  background-color: #6DB6FF;
}

.container {
  width: 100%;
  height: 117px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.container .container-logo {
  width: 121px;
  height: 63px;
  margin-bottom: -26px;
}

.container .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 515px;
  height: 15px;
  margin-bottom: -65px;
  font-size: 15px;
  font-weight: 700;
}

.container .container-text > li:first-child > a {
  border-bottom: 2px solid #000;
}

.container .container-textbox {
  width: 217px;
  height: 30px;
  margin-bottom: -65px;
  border: 1px solid #000;
}

.container .container-textbox .input-img {
  width: 180px;
  height: 30px;
  border: transparent;
}

.big-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1000px;
  height: 400px;
}

.big-img-box img {
  width: 100%;
}

.big-img-box .img-round {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65px;
  height: 15px;
  background-color: transparent;
  margin-left: 465px;
  margin-top: 375px;
}

.big-img-box .img-round .round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #897053;
}

.big-img-box .img-round .round2 {
  background-color: #395674;
}

main {
  margin: 0 auto;
  width: 900px;
  height: 1476px;
}

footer {
  margin: 0 auto;
  width: 1000px;
  border-top: 1px solid #6DB6FF;
}

footer .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: 900px;
  height: 168px;
  border-top: 1px solid #EAEDF0;
}

footer .nav-list .hezi1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 664px;
  height: 168px;
}

footer .nav-list .hezi1 .zi {
  width: 109px;
  height: 100px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-weight: 700;
}

footer .nav-list .hezi1 .zi > h2 {
  font-size: 16px;
  line-height: 40px;
}

footer .nav-list .hezi1 .zi > div {
  font-size: 12px;
  line-height: 20px;
}

footer .nav-list .hezi2 {
  width: 312px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav-list .hezi2 .hezi2-img {
  width: 55px;
  height: 104px;
}

footer .nav-list .hezi2 .hezi2-img .img1 {
  margin-left: 5px;
  margin-bottom: 17px;
}

footer .nav-list .hezi2 .hezi2-text {
  width: 138px;
  height: 104px;
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
}

footer .nav-list .hezi2 .hezi2-phone {
  width: 127px;
  height: 104px;
  font-size: 11px;
}

footer .nav-list .hezi2 .hezi2-phone .phone-img {
  margin-left: 50px;
}

footer .footer-bottom {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: #6DB6FF;
}

.boby {
  margin: 0 auto;
  width: 1000px;
  height: 4888px;
}

main {
  width: 100%;
  height: 4119px;
}

main .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1000px;
  height: 205px;
}

main .top .top-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  margin-left: 50px;
  width: 900px;
  height: 30px;
  border-top: 1px solid #6DB6FF;
}

main .top .top-top .top-top-top1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .top .top-top .top-top-top1 .top-top-top1-img {
  margin: 0;
  height: 0;
  margin-right: -70px;
  border: 10px solid #000;
  border-top-width: 30px;
  border-bottom-width: 0;
  border-left-width: 65px;
  border-right-width: 16px;
  border-color: #6DB6FF transparent transparent #6DB6FF;
}

main .top .top-top .top-top-top1 .top-top-top1-text {
  margin-top: 6px;
  margin-left: -5px;
}

main .top .top-top .top-top-top1 .top-top-top1-text .top-top-top1-text-zi {
  font-size: 16px;
  color: #FFFFFF;
}

main .top .top-top .top-top-top2 {
  margin-top: 6px;
  margin-left: 4px;
}

main .top .top-top .top-top-top3 .top-top-top3-text {
  margin-top: -15px;
  margin-left: 16px;
}

main .top .top-top .top-top-top3::before {
  content: ">";
  display: block;
  margin-top: 4px;
}

main .top .top-top .top-top-top4 .top-top-top4-text {
  margin-top: -15px;
  margin-left: 16px;
}

main .top .top-top .top-top-top4::before {
  content: ">";
  display: block;
  margin-top: 4px;
}

main .top .top-bottom {
  margin: 0 auto;
  width: 752px;
  height: 130px;
}

main .top .top-bottom .top-text {
  margin-top: 45px;
  text-align: center;
  font-weight: 500px;
}

main .top .top-bottom .top-text .top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .top .top-bottom .top-text .top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .top .top-bottom .top-hezi {
  margin: 0 auto;
  margin-top: 14px;
  width: 157px;
  height: 40px;
  border-top: 1px solid #6DB6FF;
}

main .bottom {
  margin: 0 auto;
  height: 3916px;
}

main .bottom .bottom-top {
  margin: 0 auto;
  width: 752px;
  height: 1267px;
  background-color: azure;
}

main .bottom .bottom-top .bottom-top-top {
  height: 737px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 38px;
  border-top: 1px solid #6DB6FF;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 .bottom-top-top-left {
  border: 10px solid #000;
  border-top-width: 38px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent #6DB6FF;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 .bottom-top-top-text {
  margin: 0 auto;
  margin-top: 5px;
  width: 722px;
  height: 38px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 .bottom-top-top-text .bottom-top-top-text3 {
  text-align: center;
  font-weight: 500;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 .bottom-top-top-text .bottom-top-top-text3 .bottom-top-top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 .bottom-top-top-text .bottom-top-top-text3 .bottom-top-top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top1 .bottom-top-top-left-right {
  width: 0;
  height: 0;
  border: 100px solid #000;
  border-top-width: 0px;
  border-bottom-width: 38px;
  border-left-width: 0px;
  border-right-width: 15px;
  border-color: transparent #6DB6FF transparent transparent;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-middle .bottom-top-top-middle-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 60px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-middle .bottom-top-top-middle-text1 .text-hezi1 {
  width: 600px;
  margin: 0 auto;
  margin-top: 30px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-middle .bottom-top-top-middle-text1 .text-hezi1 .bottom-top-top-middle-text1-1 {
  font-size: 14px;
  text-align: center;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-middle .bottom-top-top-middle-text2 {
  height: 120px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-middle .bottom-top-top-middle-text2 .bottom-top-top-middle-text1-2 {
  text-indent: 2em;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 1.7px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 38px;
  margin-top: 23px;
  border-bottom: 1px solid #6DB6FF;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom .bottom-top-top-bottom-left {
  width: 0;
  height: 0;
  border: 100px solid #000;
  border-top-width: 0px;
  border-bottom-width: 38px;
  border-left-width: 0px;
  border-right-width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent #6DB6FF transparent transparent;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom .bottom-top-top-text {
  margin: 0 auto;
  margin-top: 5px;
  width: 722px;
  height: 38px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom .bottom-top-top-text .bottom-top-top-text3 {
  text-align: center;
  font-weight: 500;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom .bottom-top-top-text .bottom-top-top-text3 .bottom-top-top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom .bottom-top-top-text .bottom-top-top-text3 .bottom-top-top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-bottom .bottom-top-top-left-right {
  border: 10px solid #000;
  border-top-width: 38px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 15px;
  border-color: transparent #6DB6FF;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-img {
  width: 752px;
  height: 458px;
}

main .bottom .bottom-top .bottom-top-top .bottom-top-top-img .bottom-top-top-img1 {
  width: 100%;
  height: 100%;
}

main .bottom .bottom-top .bottom-top-down {
  width: 100%;
  height: 529px;
}

main .bottom .bottom-top .bottom-top-down .bottom-top-down-text {
  height: 77px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bottom .bottom-top .bottom-top-down .bottom-top-down-text .hezi2 {
  width: 100%;
  margin-top: 25px;
  height: 40px;
}

main .bottom .bottom-top .bottom-top-down .bottom-top-down-text .hezi2 .bottom-top-down-text1 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.5px;
}

main .bottom .bottom-top .bottom-top-down .bottom-top-down-img {
  height: 426px;
  width: 100%;
}

main .bottom .bottom-top .bottom-top-down .bottom-top-down-img .bottom-top-down-img1 {
  width: 100%;
  height: 100%;
}

main .bottom .bottom-middle {
  margin: 0 auto;
  width: 752px;
  height: 1308px;
}

main .bottom .bottom-middle .bottom-middle-top {
  height: 705px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 38px;
  border-top: 1px solid #6DB6FF;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 .bottom-middle-top-left {
  border: 10px solid #000;
  border-top-width: 38px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent #6DB6FF;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 .bottom-middle-top-text {
  margin: 0 auto;
  margin-top: 5px;
  width: 722px;
  height: 38px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 .bottom-middle-top-text .bottom-middle-top-text3 {
  text-align: center;
  font-weight: 500;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 .bottom-middle-top-text .bottom-middle-top-text3 .bottom-middle-top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 .bottom-middle-top-text .bottom-middle-top-text3 .bottom-middle-top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top1 .bottom-middle-top-left-right {
  width: 0;
  height: 0;
  border: 100px solid #000;
  border-top-width: 0px;
  border-bottom-width: 38px;
  border-left-width: 0px;
  border-right-width: 15px;
  border-color: transparent #6DB6FF transparent transparent;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-middle {
  height: 95px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-middle .bottom-middle-top-middle-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 45px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-middle .bottom-middle-top-middle-text1 .text-hezi1 {
  width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-middle .bottom-middle-top-middle-text1 .text-hezi1 .bottom-middle-top-middle-text1-1 {
  font-size: 14px;
  text-align: center;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-middle .bottom-middle-top-middle-text2 {
  height: 40px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-middle .bottom-middle-top-middle-text2 .bottom-middle-top-middle-text1-2 {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: -0.5px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 38px;
  margin-top: 23px;
  border-bottom: 1px solid #6DB6FF;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom .bottom-middle-top-bottom-left {
  width: 0;
  height: 0;
  border: 100px solid #000;
  border-top-width: 0px;
  border-bottom-width: 38px;
  border-left-width: 0px;
  border-right-width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent #6DB6FF transparent transparent;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom .bottom-middle-top-text {
  margin: 0 auto;
  margin-top: 5px;
  width: 722px;
  height: 38px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom .bottom-middle-top-text .bottom-middle-top-text3 {
  text-align: center;
  font-weight: 500;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom .bottom-middle-top-text .bottom-middle-top-text3 .bottom-middle-top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom .bottom-middle-top-text .bottom-middle-top-text3 .bottom-middle-top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-bottom .bottom-middle-top-left-right {
  border: 10px solid #000;
  border-top-width: 38px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 15px;
  border-color: transparent #6DB6FF;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-img {
  width: 752px;
  height: 512px;
}

main .bottom .bottom-middle .bottom-middle-top .bottom-middle-top-img .bottom-middle-top-img1 {
  width: 100%;
  height: 100%;
}

main .bottom .bottom-middle .bottom-top-down {
  width: 100%;
  height: 602px;
}

main .bottom .bottom-middle .bottom-top-down .bottom-top-down-text {
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bottom .bottom-middle .bottom-top-down .bottom-top-down-text .hezi2 {
  width: 100%;
  margin-top: 30px;
  height: 40px;
}

main .bottom .bottom-middle .bottom-top-down .bottom-top-down-text .hezi2 .bottom-top-down-text1 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.5px;
}

main .bottom .bottom-middle .bottom-top-down .bottom-top-down-img {
  height: 503px;
  width: 100%;
}

main .bottom .bottom-middle .bottom-top-down .bottom-top-down-img .bottom-top-down-img1 {
  width: 100%;
  height: 100%;
}

main .bottom .bottom-bottom {
  margin: 0 auto;
  width: 752px;
  height: 1335px;
}

main .bottom .bottom-bottom .bottom-bottom-top {
  height: 690px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 38px;
  border-top: 1px solid #6DB6FF;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 .bottom-bottom-top-left {
  border: 10px solid #000;
  border-top-width: 38px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent #6DB6FF;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 .bottom-bottom-top-text {
  margin: 0 auto;
  margin-top: 5px;
  width: 722px;
  height: 38px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 .bottom-bottom-top-text .bottom-bottom-top-text3 {
  text-align: center;
  font-weight: 500;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 .bottom-bottom-top-text .bottom-bottom-top-text3 .bottom-bottom-top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 .bottom-bottom-top-text .bottom-bottom-top-text3 .bottom-bottom-top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top1 .bottom-bottom-top-left-right {
  width: 0;
  height: 0;
  border: 100px solid #000;
  border-top-width: 0px;
  border-bottom-width: 38px;
  border-left-width: 0px;
  border-right-width: 15px;
  border-color: transparent #6DB6FF transparent transparent;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-middle .bottom-bottom-top-middle-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 90px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-middle .bottom-bottom-top-middle-text1 .text-hezi1 {
  margin: 0 auto;
  line-height: 20px;
  margin-top: 15px;
  font-size: 15px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-middle .bottom-bottom-top-middle-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 38px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-middle .bottom-bottom-top-middle-text2 .bottom-bottom-top-middle-text1-2 {
  font-size: 13px;
  line-height: 19px;
  letter-spacing: -0.3px;
  margin-top: 5px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 38px;
  margin-top: 23px;
  border-bottom: 1px solid #6DB6FF;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom .bottom-bottom-top-bottom-left {
  width: 0;
  height: 0;
  border: 100px solid #000;
  border-top-width: 0px;
  border-bottom-width: 38px;
  border-left-width: 0px;
  border-right-width: 15px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  border-color: transparent #6DB6FF transparent transparent;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom .bottom-bottom-top-text {
  margin: 0 auto;
  margin-top: 5px;
  width: 722px;
  height: 38px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom .bottom-bottom-top-text .bottom-bottom-top-text3 {
  text-align: center;
  font-weight: 500;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom .bottom-bottom-top-text .bottom-bottom-top-text3 .bottom-bottom-top-text1 {
  font-size: 18px;
  font-weight: 600;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom .bottom-bottom-top-text .bottom-bottom-top-text3 .bottom-bottom-top-text2 {
  font-size: 9px;
  word-spacing: -1px;
  letter-spacing: -1px;
  font-weight: 600;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-bottom .bottom-bottom-top-left-right {
  border: 10px solid #000;
  border-top-width: 38px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border-right-width: 15px;
  border-color: transparent #6DB6FF;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-img {
  width: 752px;
  height: 460px;
}

main .bottom .bottom-bottom .bottom-bottom-top .bottom-bottom-top-img .bottom-bottom-top-img1 {
  width: 100%;
  height: 100%;
}

main .bottom .bottom-bottom .bottom-bottom-down {
  width: 100%;
  height: 597px;
}

main .bottom .bottom-bottom .bottom-bottom-down .bottom-bottom-down-text {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .bottom .bottom-bottom .bottom-bottom-down .bottom-bottom-down-text .hezi2 {
  margin: 0 auto;
  line-height: 18px;
  margin-top: 20px;
  font-size: 15px;
}

main .bottom .bottom-bottom .bottom-bottom-down .bottom-bottom-down-img {
  height: 463px;
  width: 100%;
}

main .bottom .bottom-bottom .bottom-bottom-down .bottom-bottom-down-img .bottom-bottom-down-img1 {
  width: 100%;
  height: 100%;
}

main .bottom .bottom-bottom .bottom-bottomof {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 752px;
  height: 54px;
}

main .bottom .bottom-bottom .bottom-bottomof .bottom-bottomof-button {
  width: 193px;
  height: 54px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
}
