header {
  width: 100%;
}

header .header-top {
  width: 100%;
  height: 16px;
  background-color: #6DB6FF;
}

.container {
  width: 100%;
  height: 117px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
}

.container .container-logo {
  width: 121px;
  height: 63px;
  margin-bottom: -26px;
}

.container .container-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 515px;
  height: 15px;
  margin-bottom: -65px;
  font-size: 15px;
  font-weight: 700;
  -webkit-transform: all 1s linear;
          transform: all 1s linear;
}

.container .container-text li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.container .container-text li::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  height: 100%;
  border-bottom: 2px solid #000;
  -webkit-transition: 0.2s all linear;
  transition: 0.2s all linear;
}

.container .container-text li:hover::before {
  width: 100%;
  left: 0;
}

.container .container-text li:hover ~ li::before {
  left: 0;
}

.container .container-textbox {
  width: 217px;
  height: 30px;
  margin-bottom: -65px;
  border: 1px solid #000;
}

.container .container-textbox .input-img {
  width: 180px;
  height: 30px;
  border: transparent;
}

.big-img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 1000px;
  height: 400px;
}

.big-img-box img {
  width: 100%;
}

.big-img-box .img-round {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 65px;
  height: 15px;
  background-color: transparent;
  margin-left: 465px;
  margin-top: 375px;
}

.big-img-box .img-round .round {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #897053;
}

.big-img-box .img-round .round2 {
  background-color: #395674;
}

main {
  margin: 0 auto;
  width: 900px;
  height: 1476px;
}

footer {
  margin: 0 auto;
  width: 1000px;
  border-top: 1px solid #6DB6FF;
}

footer .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: 900px;
  height: 168px;
  border-top: 1px solid #EAEDF0;
}

footer .nav-list .hezi1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 664px;
  height: 168px;
}

footer .nav-list .hezi1 .zi {
  width: 109px;
  height: 100px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-weight: 700;
}

footer .nav-list .hezi1 .zi > h2 {
  font-size: 16px;
  line-height: 40px;
}

footer .nav-list .hezi1 .zi > div {
  font-size: 12px;
  line-height: 20px;
}

footer .nav-list .hezi2 {
  width: 312px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .nav-list .hezi2 .hezi2-img {
  width: 55px;
  height: 104px;
}

footer .nav-list .hezi2 .hezi2-img .img1 {
  margin-left: 5px;
  margin-bottom: 17px;
}

footer .nav-list .hezi2 .hezi2-text {
  width: 138px;
  height: 104px;
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
}

footer .nav-list .hezi2 .hezi2-phone {
  width: 127px;
  height: 104px;
  font-size: 11px;
}

footer .nav-list .hezi2 .hezi2-phone .phone-img {
  margin-left: 50px;
}

footer .footer-bottom {
  width: 100%;
  height: 70px;
  text-align: center;
  line-height: 70px;
  background-color: #6DB6FF;
}

.boby {
  margin: 0 auto;
  width: 1000px;
  height: 1227px;
}

main {
  width: 1000px;
  height: 452px;
}

main .top {
  height: 141px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top .content-text {
  width: 339px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .top .content-text .hezi1 {
  margin-top: 20px;
  width: 105px;
  height: 20px;
  border-top: 1px solid #9AC1C0;
}

main .top .content-text .hezi2 {
  margin-top: 20px;
  width: 105px;
  height: 20px;
  border-top: 1px solid #9AC1C0;
}

main .top .content-text .fie-text {
  width: 129px;
  text-align: center;
}

main .top .content-text .fie-text legend > p {
  width: 129px;
  margin-left: 9px;
  letter-spacing: 10px;
  font-size: 16px;
  line-height: 24px;
}

main .top .content-text .fie-text > p {
  margin-top: 3px;
  font-size: 8px;
  line-height: 6px;
  word-spacing: -2px;
  letter-spacing: -1px;
}

main .below {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 752px;
  height: 258px;
  margin-left: 124px;
}

main .below .left {
  width: 371px;
  height: 258px;
}

main .below .left .landing1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 43px;
}

main .below .left .landing1 .hezi1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 194px;
  height: 24px;
  margin-left: 70px;
  -webkit-transform: all 1s linear;
          transform: all 1s linear;
}

main .below .left .landing1 .hezi1 .landing {
  width: 93px;
  height: 24px;
  margin-right: 8px;
}

main .below .left .landing1 .hezi1 .landing .button1:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .below .left .landing1 .hezi1 .landing .button1 {
  width: 93px;
  height: 24px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  background-color: #B3D9FF;
}

main .below .left .landing1 .hezi1 .registered {
  width: 93px;
  height: 24px;
}

main .below .left .landing1 .hezi1 .registered .button2 {
  width: 93px;
  height: 24px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #FFFFFF;
  background-color: #EEEEEE;
}

main .below .left .landing1 .hezi1 .registered .button2:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .below .left .username {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 43px;
}

main .below .left .username .username-text {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 4px;
}

main .below .left .username .username-input {
  width: 267px;
  height: 22px;
  background-color: #ECF5FF;
  border-top: 1px solid #D0CFCF;
  border-right: transparent;
  border-left: 1px solid #D0CFCF;
  border-bottom: transparent;
}

main .below .left .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 43px;
}

main .below .left .password .password-text {
  font-size: 14px;
  margin-top: 6px;
  margin-left: 4px;
}

main .below .left .password .password-input {
  margin-left: 14px;
  width: 267px;
  height: 22px;
  background-color: #ECF5FF;
  border-top: 1px solid #D0CFCF;
  border-right: transparent;
  border-left: 1px solid #D0CFCF;
  border-bottom: transparent;
}

main .below .left .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 43px;
  font-size: 14px;
}

main .below .left .code .code-text {
  margin-top: 6px;
  margin-left: 4px;
}

main .below .left .code .code-input {
  width: 99px;
  height: 22px;
  background-color: #ECF5FF;
  border-top: 1px solid #D0CFCF;
  border-right: transparent;
  border-left: 1px solid #D0CFCF;
  border-bottom: transparent;
}

main .below .left .code .code-img {
  width: 71px;
  height: 22px;
  margin-left: 4px;
  margin-top: 2px;
}

main .below .left .code .code-img .code-img1 {
  width: 100%;
  height: 100%;
}

main .below .left .code .code-text1 {
  margin-top: 10px;
  margin-left: 7px;
}

main .below .left .code .code-text2 {
  margin-top: 10px;
  margin-left: 6px;
}

main .below .left .code .code-text2 .code-text3 {
  color: red;
}

main .below .left .period {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 43px;
  font-size: 14px;
}

main .below .left .period .period-text {
  margin-top: 6px;
  margin-left: 4px;
}

main .below .left .period .time {
  margin-top: 3px;
}

main .below .left .landing2 {
  font-size: 14px;
  width: 100%;
  height: 43px;
}

main .below .left .landing2 .landing2-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 89px;
}

main .below .left .landing2 .landing2-button .button3 {
  width: 93px;
  height: 24px;
  font-size: 14px;
  border-radius: 4px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  background-color: #B3D9FF;
  -webkit-transform: all 1s linear;
          transform: all 1s linear;
}

main .below .left .landing2 .landing2-button .button3:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main .below .left .landing2 .landing2-button .landing2-text {
  margin-top: 6px;
  margin-left: 7px;
}

main .below .left .landing2 .landing2-button .landing2-text .landing2-text2 {
  color: red;
}

main .below .right {
  width: 381px;
  height: 258px;
}

main .below .right .right-img {
  width: 100%;
  height: 100%;
}
