@charset 'UTF-8';
@import "./../common/common";


.bodybox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
    margin-top: 6.563rem;
    width: 18rem;
    height: 25.5rem;


    .bodybox-top {
        margin: 0 auto;
        width: 6.906rem;
        height: 6.063rem;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .bodybox-text {
        li {
            width: 18rem;
            height: 2.375rem;
            margin-bottom: 1.594rem;

            input {
                width: 100%;
                height: 100%;
                font-size: 0.813rem;
                border-radius: 1.172rem;
                color: #000;
                border: transparent;
                background-color: #ffffff;
                background-color: rgba(255, 255, 255, 0.5);
                outline: none;

                &::placeholder {
                    color: #000;
                }
            }
        }
    }

    .button {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 2.375rem;

        button {
            width: 7.656rem;
            height: 2.375rem;
            background-color: #ffffff;
            opacity: 0.8;
            box-shadow: 0rem 0.125rem 0.131rem 0.025rem rgba(0, 0, 0, 0.39);
            border-radius: 1.172rem;
            font-size: 0.875rem;
            color: #0075c1;
        }
    }
}