@charset 'UTF-8';
@import "./../common/common";


.dabox {
    margin: 0 auto;
    margin-top: 6.719rem;
    width: 18.438rem;
    height: 17.469rem;

    .top-text {
        width: 100%;
        height: 6.594rem;

        span {
            font-size: 0.938rem;
            line-height: 1.313rem;
            color: #0075c1;
        }
    }

    .bodybox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 18.438rem;
        height: 11.875rem;
        background-color: #ffffff;
        box-shadow: 0rem 0.125rem 0.416rem 0.147rem rgba(0, 0, 0, 0.3);
        border-radius: 0.313rem;
        background-color: rgba(255, 251, 251, 0.5);

        .bodybox-span1 {
            width: 100%;
            text-align: center;

            span {
                font-size: 0.938rem;
                line-height: 0.563rem;
                letter-spacing: 0.047rem;
                color: #434242;
            }
        }

        .bodybox-span2 {
            margin-top: 2.375rem;
            width: 100%;
            text-align: center;

            span {
                font-size: 0.938rem;
                line-height: 0.563rem;
                letter-spacing: 0.047rem;
                color: #434242;
            }
        }
    }
}