@charset 'UTF-8';
@import "./../common/common";

.bodybox {
    margin: 0 auto;
    margin-top: 4.656rem;
    width: 18.438rem;
    height: 26.219rem;
    background-color: #ffffff;
    background-color: rgba(255, 251, 251, 0.5);
    box-shadow: 0rem 0.125rem 0.416rem 0.147rem rgba(0, 0, 0, 0.3);
    border-radius: 0.313rem;

    .bodybox-top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 2.733rem;

        .bodybox-top-choose {
            position: relative;
            margin-left: 0.813rem;
            width: 8.25rem;
            height: 2.733rem;
            border-bottom: .0267rem solid #434242;

            .topName {
                display: flex;
                justify-content: center;
                margin-top: 00.416rem;
                line-height: 2.733rem;
                font-size: 0.813rem;
            }

            .span {
                position: absolute;
                bottom: 0;
                right: 0;
                font-size: 0.875rem;
                line-height: 1.25rem;
                letter-spacing: 0rem;
                color: #434242;
            }
        }
    }

    .bodybox-content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;

        .bodybox-cotent-top {
            margin-top: 2.063rem;

            .day_time {
                width: 16.688rem;
                height: 2.125rem;

                span {
                    font-size: 0.813rem;
                    line-height: 1.313rem;
                    color: #434242;
                }
            }
        }

        .qr-code {
            margin-top: 1.875rem;

            .qrcode-img {
                width: 8.281rem;
                height: 8.281rem;
                border: solid 0.125rem #434242;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .button-box {
                margin-top: 0.625rem;
                width: 100%;

                .button {
                    margin: 0 auto;
                    width: 5.844rem;
                    height: 1.781rem;

                    button {
                        width: 5.844rem;
                        height: 1.781rem;
                        background-color: #ffffff;
                        box-shadow: 0rem 0.125rem 0.131rem 0.025rem rgba(0, 0, 0, 0.39);
                        border-radius: 0.891rem;
                        font-size: 0.75rem;
                        line-height: 1.313rem;
                        color: #0075c1;
                    }
                }
            }
        }


        .prompt {
            margin-top: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 4.333rem;

            .prompt-span {
                width: 16.938rem;
                height: 2.125rem;

                span {
                    text-align: center;
                    font-size: 0.813rem;
                    line-height: 1.313rem;
                    color: #434242;
                }
            }
        }
    }
}