.body {
  margin: 0 auto;
  width: 1400px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.top .top-left {
  position: absolute;
  top: 27px;
  left: 61px;
  width: 45px;
  height: 45px;
}

.top .top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 397px;
  height: 23px;
}

.top .top-text a span {
  font-size: 24px;
  color: #888888;
}

.top .top-right {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 48px;
  height: 48px;
}

.bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 1380px;
  height: 312px;
  background-color: #242424;
}

.bottom span {
  color: #ffffff;
}

.bottom a {
  color: #ffffff;
}

.bottom div:first-child {
  position: absolute;
  top: 85px;
  left: 49px;
  width: 284px;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
}

.bottom div:nth-child(2) {
  position: absolute;
  top: 144px;
  left: 50px;
  width: 303px;
  height: 18px;
  font-size: 18px;
  line-height: 24px;
}

.bottom div:nth-child(2) a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.bottom div:nth-child(3) {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 180px;
  left: 50px;
  width: 270px;
  height: 64px;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.bottom-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: absolute;
  top: 87px;
  left: 648px;
  width: 71px;
  height: 137px;
}

.bottom-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: absolute;
  top: 87px;
  left: 891px;
  width: 71px;
  height: 137px;
}

.bottom-img {
  position: absolute;
  top: 72px;
  right: 79px;
  width: 153px;
  height: 153px;
}

.bottom-img img {
  width: 153px;
  height: 153px;
}

.top .top-text a:nth-child(2) span {
  color: #e02929;
}

.middle .middle-top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1336px;
  height: 756px;
}

.middle .middle-top .goods-img-box {
  width: 675px;
  height: 675px;
  overflow: hidden;
}

.middle .middle-top .goods-img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.middle .middle-top .text-right {
  margin-top: 45px;
  margin-left: 45px;
  width: 605px;
  height: 553px;
}

.middle .middle-top .text-right .top-text {
  width: 119px;
  height: 50px;
  background-color: #000000;
}

.middle .middle-top .text-right .top-text span {
  margin-left: 12px;
  width: 94px;
  height: 23px;
  font-size: 24px;
  line-height: 50px;
  color: #ffffff;
}

.middle .middle-top .text-right .middle-text {
  margin-top: 25px;
  width: 398px;
  height: 34px;
}

.middle .middle-top .text-right .middle-text span {
  font-size: 36px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #242424;
}

.middle .middle-top .text-right .middle-text2 {
  margin-top: 24px;
  width: 601px;
  height: 48px;
}

.middle .middle-top .text-right .middle-text2 span {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #7e7e7e;
  letter-spacing: 0px;
}

.middle .middle-top .text-right .middle-text3 {
  margin-top: 43px;
}

.middle .middle-top .text-right .middle-text3 span:first-child {
  font-size: 24px;
  line-height: 65px;
  color: #999999;
}

.middle .middle-top .text-right .middle-text3 span:nth-child(2) {
  font-size: 36px;
  line-height: 65px;
  color: #d63427;
}

.middle .middle-top .text-right .middle-botton {
  position: relative;
  margin-top: 20px;
  margin-bottom: 19px;
  width: 131px;
  height: 44px;
  background-color: #f8f8f8;
  border-radius: 22px;
  border: solid 1px #ebebeb;
}

.middle .middle-top .text-right .middle-botton div {
  width: 20px;
  height: 20px;
}

.middle .middle-top .text-right .middle-botton div img {
  width: 100%;
  height: 100%;
}

.middle .middle-top .text-right .middle-botton span:first-child {
  position: absolute;
  top: 14px;
  left: 17px;
}

.middle .middle-top .text-right .middle-botton span:nth-child(2) {
  position: absolute;
  top: 16px;
  left: 71px;
}

.middle .middle-top .text-right .middle-botton div {
  position: absolute;
  top: 12px;
  right: 14px;
}

.middle .middle-top .text-right .middle-botton2 {
  position: relative;
  width: 231px;
  height: 44px;
  background-color: #f8f8f8;
  border-radius: 22px;
  border: solid 1px #ebebeb;
}

.middle .middle-top .text-right .middle-botton2 span {
  position: absolute;
  top: 13px;
  left: 17px;
  font-size: 18px;
  color: #b1b0b0;
}

.middle .middle-top .text-right .middle-botton2 div {
  position: absolute;
  top: 12px;
  right: 14px;
}

.middle .middle-top .text-right .middle-botton2 div img {
  width: 100%;
  height: 100%;
}

.middle .middle-top .text-right .bottom-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 4px;
  margin-top: 44px;
  width: 357px;
  height: 49px;
}

.middle .middle-top .text-right .bottom-button button {
  width: 167px;
  height: 49px;
  background-color: #eb1f1f;
  border: transparent;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(233, 19, 19, 0.4);
          box-shadow: 0px 20px 30px 0px rgba(233, 19, 19, 0.4);
  border-radius: 24px;
  font-size: 20px;
  text-align: center;
  line-height: 49px;
  color: #ffffff;
}

.middle .middle-top .text-right .bottom-button button:nth-child(2) {
  background-color: #000000;
  -webkit-box-shadow: 0px 20px 30px 0px rgba(15, 16, 19, 0.3);
          box-shadow: 0px 20px 30px 0px rgba(15, 16, 19, 0.3);
}

.middle .middle-top .yuan {
  position: absolute;
  top: 695px;
  left: 319px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 59px;
  height: 11px;
  opacity: 0.5;
}

.middle .middle-top .yuan div {
  width: 11px;
  height: 11px;
  background-color: #dcdcdc;
  border-radius: 50%;
}

.middle .middle-top .yuan div:nth-child(2) {
  background-color: red;
}

.middle .othergoods-text {
  margin: 0 auto;
  margin-top: 35px;
  width: 192px;
  height: 32px;
}

.middle .othergoods-text span {
  font-size: 32px;
  line-height: 32px;
  color: #242424;
}

.middle .othergoods {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-bottom: 100px;
  margin-top: 103px;
  width: 1380px;
}

.middle .othergoods .goods-img-box {
  position: relative;
  width: 337px;
  height: 428px;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.middle .othergoods .goods-img-box .tag {
  position: absolute;
  top: 10px;
  left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: solid 2px #f53c5e;
}

.middle .othergoods .goods-img-box .tag span {
  font-size: 22px;
  line-height: 10px;
  color: #f53c5e;
}

.middle .othergoods .goods-img-box .img-box {
  margin: 0 auto;
}

.middle .othergoods .goods-img-box .img-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.middle .othergoods .goods-img-box .buttom-text .text-box {
  margin: 0 auto;
  margin-top: 13px;
  text-align: center;
}

.middle .othergoods .goods-img-box .buttom-text .text-box span {
  font-size: 20px;
  line-height: 20px;
  color: #7e7e7e;
}

.middle .othergoods .goods-img-box .buttom-text .text-box2 {
  margin: 0 auto;
  margin-top: 11px;
  text-align: center;
}

.middle .othergoods .goods-img-box .buttom-text .text-box2 span {
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #242424;
}

.middle .othergoods .goods-img-box .buttom-text .text1 {
  margin: 0 auto;
  margin-top: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.middle .othergoods .goods-img-box .buttom-text .text1 span:first-child {
  margin-right: 12px;
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #7e7e7e;
}

.middle .goods-img-box:nth-child(2) .img-box {
  margin-top: 6px;
}

.middle .goods-img-box:nth-child(2) .text-box {
  margin-top: 1px;
}

.middle .goods-img-box:nth-child(3) .img-box {
  margin-top: 3px;
}

.middle .goods-img-box:nth-child(3) .text-box {
  margin-top: 1px;
}

.middle .goods-img-box:nth-child(4) .buttom-text .text-box {
  margin-top: -3px;
}

.middle .goods-img-box:first-child .img-box {
  width: 233px;
  height: 350px;
}

.middle .goods-img-box:nth-child(2) .img-box {
  width: 227px;
  height: 340px;
}

.middle .goods-img-box:nth-child(3) .img-box {
  width: 227px;
  height: 340px;
}

.middle .goods-img-box:nth-child(4) .img-box {
  width: 233px;
  height: 350px;
}

.middle .goods-img-box:first-child .tag {
  top: 13px;
  left: 23px;
  border: solid 2px #2ac4e5;
}

.middle .goods-img-box:first-child .tag span {
  color: #2ac4e5;
}

.middle .goods-img-box:nth-child(4) .tag {
  top: 13px;
  left: 35px;
  border: solid 2px #2ac4e5;
}

.middle .goods-img-box:nth-child(4) .tag span {
  color: #2ac4e5;
}

.middle .goods-img-box:nth-child(3) .text1 span:first-child {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.middle .goods-img-box:nth-child(3) .text1 span:nth-child(2) {
  font-size: 24px;
  line-height: 20px;
  letter-spacing: -1px;
  color: #eb1f1f;
}
