.body {
  margin: 0 auto;
  width: 1400px;
}

.top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 88px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
}

.top .top-left {
  position: absolute;
  top: 27px;
  left: 61px;
  width: 45px;
  height: 45px;
}

.top .top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 397px;
  height: 23px;
}

.top .top-text a span {
  font-size: 24px;
  color: #888888;
}

.top .top-right {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 48px;
  height: 48px;
}

.bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 1380px;
  height: 312px;
  background-color: #242424;
}

.bottom span {
  color: #ffffff;
}

.bottom a {
  color: #ffffff;
}

.bottom div:first-child {
  position: absolute;
  top: 85px;
  left: 49px;
  width: 284px;
  height: 42px;
  font-size: 18px;
  line-height: 24px;
}

.bottom div:nth-child(2) {
  position: absolute;
  top: 144px;
  left: 50px;
  width: 303px;
  height: 18px;
  font-size: 18px;
  line-height: 24px;
}

.bottom div:nth-child(2) a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.bottom div:nth-child(3) {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 180px;
  left: 50px;
  width: 270px;
  height: 64px;
  font-size: 18px;
  line-height: 24px;
  opacity: 0.5;
}

.bottom-text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: absolute;
  top: 87px;
  left: 648px;
  width: 71px;
  height: 137px;
}

.bottom-text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  position: absolute;
  top: 87px;
  left: 891px;
  width: 71px;
  height: 137px;
}

.bottom-img {
  position: absolute;
  top: 72px;
  right: 79px;
  width: 153px;
  height: 153px;
}

.bottom-img img {
  width: 153px;
  height: 153px;
}
