@charset "UTF-8";
// @import "./../common/common";

body {
    background-color: #F3FAFF;
}

// 头部导航栏
.wf-wrap {
    // margin-top: 78px;
    width: 100%;
    height: 480px;
    background-color: antiquewhite;
    background-image: url('./../images/strategy/背景图.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    margin-bottom: 100px;

    .wf-top {
        // position: fixed;
        // top: 0;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: 1190px;
        height: 78px;

        .wf-logo {
            margin-top: 17px;
            width: 195px;
            height: 50px;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .wf-span {
            display: flex;
            justify-content: space-between;
            width: 300px;
            height: 100%;
            line-height: 78px;
            text-align: center;

            li {
                color: #fff;
                font-weight: 600;
            }
        }
    }

    .wf-title {
        margin-top: 134px;
        text-align: center;

        .title-text-top {
            width: 100%;
            height: 65px;

            .title-text-top-span {
                margin: 0 auto;
                height: 65px;
                font-size: 42px;

                span {
                    letter-spacing: -5px;
                    font-weight: normal;
                    font-style: normal;
                }
            }
        }

        .title-text-buttom {
            position: relative;
            margin-top: 20px;
            width: 100%;
            height: 20px;

            .title-text-buttom-span {
                position: relative;
                margin: 0 auto;
                margin-bottom: 0;
                width: 304px;
                height: 21px;
            }

            .title-text-buttom-span::after {
                position: absolute;
                content: '';
                top: 8px;
                width: 100%;
                height: 2px;
                background-color: #379CF4;
                left: 100%;
                bottom: 0;
            }

            .title-text-buttom-span::before {
                position: absolute;
                content: '';
                top: 8px;
                width: 100%;
                height: 2px;
                background-color: #379CF4;
                right: 105%;
                bottom: 0;
            }
        }

        span {
            color: #fff;
        }
    }
}


// 内容区域
.content {
    // position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    // height: 1850px;
    padding: 0 40px;

    // 左区域
    .content-left {
        position: relative;
    }

    // 左区域-已显示
    .content-left-show {
        display: none;
        width: 778px;
        // height: 1800px;

        .content-left-box {
            display: flex;
            justify-content: space-between;
            width: 746px;
            height: 264px;
            box-shadow: 0 6px 26px rgba(0, 0, 0, 0.1);
            margin-bottom: 36px;
            background-color: #FFFFFF;

            .content-left-box-img {
                width: 200px;
                height: 260px;
                overflow: hidden;

                img {
                    transition: all .6s ease;
                }
            }

            .content-left-box-text {
                width: 528px;
                height: 264px;

                .post-title {
                    padding-top: 40px;
                    padding-bottom: 5px;
                    padding-left: 15px;
                    padding-right: 15px;
                    vertical-align: top;
                    width: 100%;

                    span {
                        text-align: left;
                        font-weight: 600;
                        color: #13304a;
                        font-size: 18px;
                        line-height: 18px;
                    }
                }

                .post-comment {
                    margin-top: 10px;
                    padding-bottom: 20px;
                    padding-left: 15px;
                    padding-right: 15px;

                    span {
                        color: #379cf4;
                        font-size: 12px;
                        line-height: 12px;
                    }
                }

                .post-excerpt {
                    padding-bottom: 20px;
                    padding-left: 15px;
                    padding-right: 15px;

                    span {
                        color: #596e80;
                        font-size: 13px;
                        line-height: 30px;
                    }
                }
            }
        }

        .content-left-box:hover .img {
            transform: scale(1.1);
        }

        // 页码区域
        .buttom-page {
            display: flex;
            margin-top: 50px;
            width: 790px;
            height: 40px;

            .fw-nubmerOne {
                border: 1px solid #022839;
                font-size: 14px;
                line-height: 14px;
                padding: 12px 27px;
                margin-right: 5px;

                span {
                    margin-right: 5px;
                    color: #fff;
                }
            }

            .fw-nubmerOne:first-child {
                background-color: #022839;
            }

            .fw-nubmerOne:nth-child(2) span {
                color: #000;
            }
        }

        .fw-nubmerTwo {
            margin-right: 5px;
            border: 1px solid #022839;
            color: #022839;
            font-size: 14px;
            line-height: 14px;
            padding: 12px 27px;
        }
    }

    // 左区域-未显示
    .content-left-show:nth-child(2) {

        // 页码区域
        .buttom-page {
            display: flex;
            margin-top: 50px;
            width: 790px;
            height: 40px;

            .fw-nubmerThree {
                margin-right: 5px;
                border: 1px solid #022839;
                color: #022839;
                font-size: 14px;
                line-height: 14px;
                padding: 12px 27px;
            }

            .fw-nubmerFour {
                border: 1px solid #022839;
                font-size: 14px;
                line-height: 14px;
                padding: 12px 27px;
                margin-right: 5px;
                // background-color: #022839;

                span {
                    margin-right: 5px;
                    color: #022839;
                }
            }

            .fw-nubmerFour:last-child {
                background-color: #022839;

                span {
                    color: #fff;
                }
            }
        }

    }


    // 右区域
    .content-right {
        width: 400px;
        height: 998px;
        position: relative;
        min-height: 1px;
        padding-left: 25px;
        padding-right: 5px;
        float: left;
        max-width: 100%;

        .content-right-search {
            position: relative;
            width: 343px;
            height: 40px;
            padding-right: 15px;
            padding-left: 12px;

            input {
                width: 100%;
                height: 65%;
                padding: 6px 10px 5px;
                font-size: 12;
                border: 1px solid #E0E0E0;
                background-color: #fff;
                color: #afc2ca;
                border-radius: 30px;
            }

            .search-box {
                position: absolute;
                top: 0;
                right: 0;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;

                .iconfont {
                    color: #379CF4;
                }
            }
        }

        .content-right-box {

            .content-right-notes {
                width: 340px;
                height: 36px;
                padding-top: 30px;
                padding-bottom: 15px;
                padding-right: 15px;
                padding-left: 15px;

                span {
                    font-family: Oswald;
                    font-size: 24px;
                    font-weight: bold;
                    font-style: normal;
                    color: #13304a;
                }
            }

            .content-right-text {
                position: relative;
                display: flex;
                padding-left: 15px;
                margin-bottom: 18px;

                .text-img {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 4px;
                    }
                }

                .text-span {
                    .text-span1 {
                        padding-top: 8px;
                        padding-left: 13px;

                        span {
                            color: #13304a;
                            font-size: 14px;
                            line-height: 14px;
                        }
                    }

                    .text-span2 {
                        padding-top: 8px;
                        padding-left: 13px;

                        span {
                            color: #96a4af;
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
            }

            .content-right-text:hover {
                .text-span .text-span1 span {
                    color: #379CF4;
                }

                &::after {
                    position: absolute;
                    content: '';
                    top: 100%;
                    width: 0;
                    height: 1px;
                    background-color: #379CF4;
                    left: 85px;
                    bottom: 0;
                    transition: all .6s ease 0s;
                    animation: one 1s forwards;
                }
            }

            @keyframes one {
                0% {
                    width: 0;
                }

                100% {
                    width: 266px;
                }
            }
        }
    }
}

.active {
    display: block !important;
}



// 底部区域
.buttom {
    margin-top: 90px;
    width: 100%;
    height: 378px;
    background-color: #13304a;

    .buttom-top {
        display: flex;
        align-items: center;
        width: 100%;
        height: 322px;
        border-bottom: 1px solid #42596E;

        .container {
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            height: 162px;

            .row {
                display: flex;
                justify-content: space-between;
                width: 1200px;
                height: 162px;
                // background-color: rebeccapurple;

                .row-text {
                    width: 390px;
                    height: 162px;

                    .row-text-span {
                        width: 349px;
                        height: 162px;

                        .row-top-span {
                            span {
                                font-size: 30px;
                                font-weight: bold;
                                font-style: normal;
                                color: #ffffff;
                            }
                        }

                        .row-buttom-span {
                            padding-top: 30px;

                            span {
                                line-height: 28px;
                                font-size: 13px;
                                color: rgb(204, 218, 225);
                            }
                        }
                    }
                }

                .row-text:nth-child(2) .row-text-span .row-buttom-span .row-buttom-spanText span:first-child {
                    font-size: 13px;
                    color: rgb(55, 156, 244);
                }


                .row-text:nth-child(3) .row-text-span .row-top-span {
                    display: flex;
                }

                .row-text:nth-child(3) .row-text-span .row-top-span li:first-child {
                    background: url('./../images/strategy/social_icon_64x64.png') no-repeat -321px -1px;
                    width: 62px;
                    height: 62px;
                    margin-right: 2px;
                }

                .row-text:nth-child(3) .row-text-span .row-top-span li:nth-child(2) {
                    background: url('./../images/strategy/social_icon_64x64.png') no-repeat -385px -1px;
                    width: 62px;
                    height: 62px;
                    margin-right: 2px;
                }

                .row-text:nth-child(3) .row-text-span .row-top-span li:nth-child(3) {
                    background: url('./../images/strategy/social_icon_64x64.png') no-repeat -65px -1px;
                    width: 62px;
                    height: 62px;
                    margin-right: 2px;
                }

                .row-text:nth-child(3) .row-text-span .row-top-span li:last-child {
                    background: url('./../images/strategy/social_icon_64x64.png') no-repeat -1px -1px;
                    width: 62px;
                    height: 62px;
                    margin-right: 2px;
                }
            }
        }
    }

    .buttom-buttom {
        display: flex;
        align-items: center;
        width: 100%;
        height: 55px;

        .fw-buttom {
            margin: 0 auto;
            width: 1190px;
            max-width: 1200px;
            height: 25px;

            span {
                font-size: 13px;
                color: rgb(255, 255, 255);
            }
        }
    }
}