@charset "UTF-8";

.bili {
    display: flex;
    margin: 100px auto;
    width: 1455px;
    justify-content: space-between;
    
}
/* 左区域 */
.left {
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    display: flex;
    width: 1161.59px;
    height: 440.56px;
}
.left li {
    width: 281.39px;
    height: 210.28px;
}
.left-img {
    position: relative;
    width: 100%;
    height: 158.28px;
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 5px;
}
.left-img img {
    width: 100%;
    height: 100%;
}
.left-img-wenzi {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.left-img-wenzi .div {
    color: #fff;
}
.left li > p {
    line-height: 20px;
}
.left li>h3:first-of-type{
    font-size: 15px;
}
.left li > p:nth-of-type {
    font-size: 13px;
    color: #ccc;
}

/* 右区域 */
.right {
    overflow: hidden;
    width: 257px;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #FCF2FC;
    border-radius: 15px;
}
.right-img {
    width: 73px;
    height: 49px;
}
.right-img img {
    width: 100%;
    height: 100%;
}
.father {
    position: relative;
    width: 239px;
    height: 49px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
}
.son {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 239px;
    height: 49px;
}
.span1 {
    margin-right: 5px;
    color: #FF6A29;
}
.span2 {
    margin-right: 5px;
    color: #C9CCD0;
}

.father:nth-child(2n) {
    background-color: #F6F7F8;
}