@charset "UTF-8";
@import "./common";

.boby {
    margin: 0 auto;
    width: 1000px;
    height: 1227px;
}

main {
    width: 1000px;
    height: 452px;

    .top {
        height: 141px;
        display: flex;
        justify-content: center;
        align-items: center;

        .content-text {
            width: 339px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;

            .hezi1 {
                margin-top: 20px;
                width: 105px;
                height: 20px;
                border-top: 1px solid #9AC1C0;
            }

            .hezi2 {
                margin-top: 20px;
                width: 105px;
                height: 20px;
                border-top: 1px solid #9AC1C0;
            }

            .fie-text {
                width: 129px;
                text-align: center;
            }

            .fie-text legend>p {
                width: 129px;
                margin-left: 9px;
                letter-spacing: 10px;
                font-size: 16px;
                line-height: 24px;
            }

            .fie-text>p {
                margin-top: 3px;
                font-size: 8px;
                line-height: 6px;
                word-spacing: -2px;
                letter-spacing: -1px;
            }
        }
    }

    .below {
        display: flex;
        width: 752px;
        height: 258px;
        margin-left: 124px;

        .left {
            width: 371px;
            height: 258px;

            .landing1 {
                display: flex;
                width: 100%;
                height: 43px;

                .hezi1 {
                    display: flex;
                    width: 194px;
                    height: 24px;
                    margin-left: 70px;
                    transform: all 1s linear;

                    .landing {
                        width: 93px;
                        height: 24px;
                        margin-right: 8px;

                        .button1:hover {
                            transform: scale(1.1);
                        }

                        .button1 {
                            width: 93px;
                            height: 24px;
                            font-size: 14px;
                            border-radius: 4px;
                            border: 1px solid #FFFFFF;
                            background-color: #B3D9FF;
                        }
                    }

                    .registered {
                        width: 93px;
                        height: 24px;


                        .button2 {
                            width: 93px;
                            height: 24px;
                            font-size: 14px;
                            border-radius: 4px;
                            border: 1px solid #FFFFFF;
                            background-color: #EEEEEE;
                        }

                        .button2:hover {
                            transform: scale(1.1);
                        }
                    }
                }
            }

            .username {
                display: flex;
                width: 100%;
                height: 43px;

                .username-text {
                    font-size: 14px;
                    margin-top: 6px;
                    margin-left: 4px;
                }

                .username-input {
                    width: 267px;
                    height: 22px;
                    background-color: #ECF5FF;
                    border-top: 1px solid #D0CFCF;
                    border-right: transparent;
                    border-left: 1px solid #D0CFCF;
                    border-bottom: transparent;
                }
            }

            .password {
                display: flex;
                width: 100%;
                height: 43px;

                .password-text {
                    font-size: 14px;
                    margin-top: 6px;
                    margin-left: 4px;
                }

                .password-input {
                    margin-left: 14px;
                    width: 267px;
                    height: 22px;
                    background-color: #ECF5FF;
                    border-top: 1px solid #D0CFCF;
                    border-right: transparent;
                    border-left: 1px solid #D0CFCF;
                    border-bottom: transparent;
                }
            }

            .code {
                display: flex;
                width: 100%;
                height: 43px;
                font-size: 14px;

                .code-text {
                    margin-top: 6px;
                    margin-left: 4px;
                }

                .code-input {
                    width: 99px;
                    height: 22px;
                    background-color: #ECF5FF;
                    border-top: 1px solid #D0CFCF;
                    border-right: transparent;
                    border-left: 1px solid #D0CFCF;
                    border-bottom: transparent;
                }

                .code-img {
                    width: 71px;
                    height: 22px;
                    margin-left: 4px;
                    margin-top: 2px;

                    .code-img1 {
                        width: 100%;
                        height: 100%;
                    }
                }

                .code-text1 {
                    margin-top: 10px;
                    margin-left: 7px;
                }

                .code-text2 {
                    margin-top: 10px;
                    margin-left: 6px;

                    .code-text3 {
                        color: red;
                    }
                }
            }

            .period {
                display: flex;
                width: 100%;
                height: 43px;
                font-size: 14px;

                .period-text {
                    margin-top: 6px;
                    margin-left: 4px;
                }

                .time {
                    margin-top: 3px;
                }

            }

            .landing2 {
                font-size: 14px;
                width: 100%;
                height: 43px;

                .landing2-button {
                    display: flex;
                    margin-left: 89px;

                    .button3 {
                        width: 93px;
                        height: 24px;
                        font-size: 14px;
                        border-radius: 4px;
                        color: #FFFFFF;
                        border: 1px solid #FFFFFF;
                        background-color: #B3D9FF;
                        transform: all 1s linear;
                    }

                    .button3:hover {
                        transform: scale(1.1);
                    }

                    .landing2-text {
                        margin-top: 6px;
                        margin-left: 7px;

                        .landing2-text2 {
                            color: red;
                        }
                    }
                }

            }
        }

        .right {
            width: 381px;
            height: 258px;

            .right-img {
                width: 100%;
                height: 100%;
            }
        }
    }
}