@charset "UTF-8";
@import "./../common/common";


.top .topOne .topOne-text a:first-child span {
    color: red;
}

.top {}


// 图片区域
.middle-img {
    margin-top: 10px;
    width: 100%;
    height: 660px;

    img {
        width: 100%;
        height: 100%;
    }
}